html, body, #root {

}

#root {

}

.burgerIcon {
  color: black;
  height: 30px;
  width: 30px;
  /*border: 1px solid #bbb;*/
}
.navbar {
  align-items: center;
  text-align: center;
  max-width: 1200px;
  margin: auto;
  justify-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 25px;
  border-radius: 1%;
  overflow: hidden;
}

.navbarLink {
  margin: 5%;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: "Weston Free";
}


.homePageImageSlider {
  max-width: 1200px;
  max-height: 500px;
  margin: auto;
  justify-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.homePageAboutSection {
  max-width: 1500px;
  margin: auto;
  justify-items: center;
  display: grid;
  grid-gap: 20px;
  padding: 50px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.homePageAboutSectionLeftSide {
  justify-items: center;
}

.homePageAboutSectionText {
  max-width: 550px;
  font-size: large;
  font-family: Serif;
  line-height: 1.5;

}

.homePageAboutSectionTextHeader {
  font-family: "Weston Free";
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.productCard{
  text-align: center;
  align-items: center;
  transition: all 0.3s linear;
  text-decoration: none;
}
.productCard:hover{
  text-align: center;
  align-items: center;
  transition: all 0.3s linear;
  text-decoration: none;
}
.linkPhotos {
  border-radius: 25px;
  transition: transform .2s;
}
.linkPhotos:hover{
  transform: scale(1.15);
}

.slideLeft {
  animation: slide-in-fwd-left .75s ease none;
}
.slideBottom {
  animation: slide-in-fwd-bottom .75s ease none;
}
.slideRight {
  animation: slide-in-fwd-right .75s ease none;
}
.swingTop {
  animation: swing-in-top-fwd .75s ease none;
}
.swingLeft {
  animation: swing-in-left-fwd 1s ease none;
}
.swingRight {
  animation: swing-in-right-fwd 1s ease none;
}
.slitVertical {
  animation: slit-in-vertical .15s ease none;
}
.scaleCenter {
  animation: scale-in-center 1s ease none;
}
@keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-1400px) translateY(800px);
    transform: translateZ(-1400px) translateY(800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(1000px);
    transform: translateZ(-1400px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-left-fwd {
  0% {
    -webkit-transform: rotateY(100deg);
    transform: rotateY(100deg);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    opacity: 1;
  }
}

@keyframes swing-in-right-fwd {
  0% {
    -webkit-transform: rotateY(-100deg);
    transform: rotateY(-100deg);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 1;
  }
}

@keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}


.nonLinkPhotos {
  border-radius: 25px;
}


.productSelection {
  max-width: 1200px;
  margin: auto;

  justify-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /*animation-name: slide-right;
  animation-duration: 3s;
  animation-iteration-count: 1;*/
}

.footer {
  margin: auto;
  max-width: 1500px;
  background-color: #00004d;

  position: fixed;
  left:0;
  bottom:0;
  right:0;
  justify-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.footerContainer {
  background-color: #00004d;
  height: 80px;
  position: fixed;
  margin: auto;
  left:0;
  bottom:0;
  right:0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.footerItems {
  text-align: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.3s linear;
}
.footerText {
  color: white;
  font-family: "Weston Free";
}

.socialMediaFooterIcon {
  margin-left: 30px;
  margin-top: 7.5%;
}

.socialMediaFooterIcons {
  justify-content: space-between;
}

.linkText {
  color: black;
  font-family: "Weston Free";
  text-decoration: none;
  font-weight: bold;
  transition: transform .2s;
}

.linkText:hover {
  color: black;
  font-family: "Weston Free";
  text-decoration: none;
  font-weight: bold;
  background-color: #ddd;
  border-radius: 25px;
  transform: scale(1.15);

}

.goatsForSaleLink {
  text-align: center;
  text-decoration: none;
}

.goatsForSaleLinkText {
  text-align: center;
  max-width: 200px;
  color: black;
  font-family: "Weston Free";
  text-decoration: none;
  margin: auto;
  justify-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  transition: transform .2s;
}
.goatsForSaleLinkText:hover {
  text-align: center;
  color: black;
  font-family: "Weston Free";
  text-decoration: none;
  background-color: #ddd;
  border-radius: 10px;
  transform: scale(1.15);
}

.aboutPageHeader {
  text-align: center;

  margin-top: 2.5%;
}

.aboutPageText {
  margin: auto;
  width: 80%;
  max-width: 1200px;
  padding-bottom: 50px;
  font-family: Serif;
  font-size: large;
}

.displayGoats {
  max-width: 1200px;
  margin: auto;
  justify-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.goatDisplay {
  text-align: center;
  align-items: center;
  border-radius: 4px;
  /*border: 1px solid #bbb;*/
  transition: all 0.3s linear;
  font-family: Serif;
  font-size: large;
  text-decoration: none;
  color: black;
}

.displayGoatsContainer {
  justify-content: space-around;
  border-color: black;
  border-width: 5px;
}

.displayGoatImages{
  margin-top: 1.5%;
  justify-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.goatImageDisplay {
  text-align: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #bbb;
  transition: all 0.3s linear;
}

.displayDescriptionAwardsContainer {
  max-width: 1200px;
  margin: auto;
  padding-top: 50px;
  justify-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.descriptionAwardsContainerDisplay {
  margin-top: 1.5%;
  /*border: 1px solid #bbb;*/
  justify-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  font-family: "Weston Free";
  padding-left: 25px;
  padding-right: 25px;
}

.displayDescriptionAwards {
  max-width: 1200px;
  margin: auto;
  justify-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.descriptionAwardsDisplay {
  /*border: 1px solid #bbb;*/
  max-width: 500px;
  padding-left: 25px;
  padding-right: 25px;
  margin: auto;
  justify-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  font-family: Serif;
  font-size: large;
}

.displayKiddingSchedule {
  max-width: 1200px;
  /*border: 1px solid #bbb;*/
  justify-items: center;
  margin: auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.kiddingScheduleDisplay {
  /*border: 1px solid #bbb;*/
  width: 200px;
  margin-top: 1.5%;
  justify-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.noGoatsForSaleText {
  text-align: center;
  width: 70%;
  margin: auto;
  font-family: Serif;
  font-size: large;
}

.kiddingPageTextDisplay {
  text-align: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border-radius: 4px;
  /*border: 1px solid #bbb;*/
  transition: all 0.3s linear;
  font-family: Serif;
  font-size: large;
  text-decoration: none;
  color: black;
}

.kiddingPageText {
  text-align: center;
  align-items: center;
  width: 70%;
  margin: auto;

  text-decoration: none;
  color: black;
}

.reserveKidTextDisplay {
  text-align: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border-radius: 4px;
  /*border: 1px solid #bbb;*/
  transition: all 0.3s linear;
  font-family: Serif;
  font-size: large;
  text-decoration: none;
  color: black;
}

.reserveKidText{
  text-align: center;
  align-items: center;
  font-family: "Weston Free";
  width: 70%;
  margin: auto;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: transform .2s;
}

.reserveKidText:hover {
  font-family: "Weston Free";
  text-align: center;
  align-items: center;
  width: 70%;
  margin: auto;
  text-decoration: none;
  color: black;
  background-color: #ddd;
  border-radius: 25px;
  transform: scale(1.15);
}

.farmersMarketText {
  font-style: italic;
  font-size: large;
  font-family: Serif;
}

.purchaseBerriesText {
  font-size: large;
  font-family: Serif;
}

.mobileNavbarLogo {
  margin-left:auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-top: -10%;
  text-align: center;
  max-width: 200px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border-radius: 1%;
  overflow: hidden;
}


.dropdown {
  align-items: center;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbarLink:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  border-radius: 10px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: grid;
  position: absolute;
}



.mobileDropdownBtn {
  border: none;
  background-color: white;

}

/* Dropdown button */
.goatDropdown {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.goatDropdownContent {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.goatDropdownContent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.goatDropdownContent a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.goatDropdown:hover .goatDropdownContent {
  display: grid;
  position: absolute;
}

.serifFont {
  font-size: large;
  font-family: Serif;
}

  .navbar {
    text-align: center;
    max-width: 1200px;
    margin: auto;
    justify-items: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 25px;
    border-radius: 1%;
    overflow: hidden;
  }
  /* The dropdown container */
  .dropdown {
    overflow: hidden;
  }

  /* Dropdown button */
  .dropdown {
    align-items: center;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }


  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.mobile-dropdown-content {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.mobile-dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: grid;
    position: absolute;
  }


/* The dropdown container */
.mobileDropdown {
  overflow: hidden;
}

/* Dropdown button */
.mobileDropdown {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
}

/* Dropdown content (hidden by default) */
.mobileDropdownContent {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.mobileDropdownContent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.mobileDropdownContent a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.mobileDropdown:hover .mobileDropdownContent {
  display: grid;
  position: absolute;
}

.ourHerdDropdown {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;

  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}



/* Dropdown content (hidden by default) */
.ourHerdDropdownContent {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.ourHerdDropdownContent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.ourHerdDropdownContent a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.ourHerdDropdown:hover .ourHerdDropdownContent {
  display: grid;
  position: relative;

}

.westonFont {
  font-family: "Weston Free";
}

.westonFontBold {
  font-family: "Weston Free";
  font-weight: bold;
}


.filler {
  height: 200px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
